<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mental Health Counseling System</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h1 text-center">
                    Mental Health Counselling System
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-center bg-success text-white h2 p-2">
                    Login
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="username">
                                <strong>Username</strong>
                            </label>
                            <strong>: </strong><input type="text" class="form-control" id="username" name="username" placeholder="Username"/>
                        </div>
                        <div class="form-group">
                            <label for="password">
                                <strong>Password</strong>
                            </label>
                            <strong>: </strong><input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                        </div>
                        <br>
                        <input type="submit" class="btn btn-primary btn-block" value="Login"/>
                    </form>
                </div>
                <div class="card-footer bg-dark text-white text-center">
                    <strong><a class="text-decoration-none text-white" href="/registration">Creat a new account</a></strong>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="application/javascript" src="/jquery/jquery.min.js"></script>
<script type="application/javascript" src="/popper/popper.min.js"></script>
<script type="application/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
