<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Mental Health Counseling System</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h1 text-center">
                    Mental Health Counselling System
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <a class="btn text-decoration-none btn-success btn-block text" href="/registration/doctor">Register as a counselor</a>
                    </div>
                    <div class="mt-2">
                        <a class="btn text-decoration-none btn-success btn-block" href="/registration/patient">Register to consult a counselor</a>
                    </div>
                    <div class="mt-2">
                        <a class="btn text-decoration-none btn-primary btn-block" href="/login">Already have an account? Login</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-auto">
        </div>
    </div>
</div>

<script type="application/javascript" src="/jquery/jquery.min.js"></script>
<script type="application/javascript" src="/popper/popper.min.js"></script>
<script type="application/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
